function Main.main 2
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push constant 30
add
push local 1
push constant 30
add
call Screen.drawRectangle 4
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push constant 30
add
push local 1
push constant 30
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 480
eq
not
push local 1
push constant 0
gt
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 10
add
pop local 0
label IF_FALSE0
push local 0
push constant 480
eq
push local 1
push constant 320
eq
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push constant 10
add
pop local 1
label IF_FALSE1
push local 0
push constant 220
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 10
sub
pop local 0
label IF_FALSE2
push local 0
push constant 0
eq
push local 1
push constant 0
lt
not
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push constant 10
sub
pop local 1
label IF_FALSE3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
